.icon{
  text-decoration: none;
}
.area {
  display: table-cell;
  margin: 0px;
  border: solid black 1px;
  height: 78px;
  width: 78px;
}

.advisor {
    display: inline-block;
    width: 130px;

}

.advisor .icon {
    font-size: 100px;
}