* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon{
  text-decoration: none;
}
.area {
  cursor: pointer;
  display: table-cell;
  margin: 0px;
  border: solid black 1px;
  height: 70px;
  width: 70px;
  opacity: 0.5;
}
.area:hover{
  background-color: black;
  opacity: 0.3;
}

.area-corner {
  cursor: pointer;
  display: table-cell;
  margin: 0px;
  border: solid transparent 1px;
  height: 24px;
  width: 24px;
  opacity: 0.5;
}
.area-column {
  cursor: pointer;
  display: table-cell;
  margin: 0px;
  border: solid transparent 1px;
  height: 24px;
  width: 70px;
  background: rgb(0,0,0, 0.5);
  text-align: center;
  font-weight: bold;
}
.row-number{
  vertical-align:middle;
}
.area-row {
  cursor: pointer;
  display: table-cell;
  margin: 0px;
  border: solid transparent 1px;
  height: 70px;
  width: 24px;
  font-weight: bold;
  vertical-align:middle;
}

#moon-map{
  position: relative;
}

#moon-areas{
  top: 0;
  left: 20px;
  position: absolute;
}

.advisor {
    display: inline-block;
    width: 130px;
	margin: 20px;
}

#advisors {
  padding: 100px 150px;
}

.advisor.idle {
    cursor: pointer;
}

.advisor img {
  height: 96px;
  width: 96px;

}

.center{
  text-align: center;
}

#header {
  margin-top: 10px;
  margin-bottom: 20px;
}

#header #resource-status {
  margin-top: 10px;
}

#area-info{
  width: 850px;
  margin-left: -425px;
  margin-top: -50px;
}

.pointer{
  cursor: pointer;
}

.building-span:hover, .placeable:hover{
  background-color: #3a3f44;
}

.modal-body{
  max-height: 200px;
}